@{
    ViewBag.Title = "Index";
}

<h1>iTunes Playlist Viewer</h1>
<p>Select an iTunes playlist to view:</p>
@using (Html.BeginForm("Upload","Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p><input id="xmlFile" type="file" accept="text/xml" /></p>
    <p><input id="xmlUpload" type="submit" value="View" /></p>    
}
